<div class="container-footer">
    <div class="first-part">
        <img routerLink="" src="./assets/img/logo.png" class="logo">
        <a routerLink="/impressum" class="imprint" href="/">Impressum</a>
    </div>

    <span class="copyright">© Maximilian Leyh 2023</span>

    <div class="container-social-media">
    
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/MaximilianLeyh"
        >
          <img src="./assets/img/logo-git.png" />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:maximilianleyh@gmx.net"
        >
          <img src="./assets/img/logo-mail.png" />
        </a>
    
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/maximilian-leyh-19802526a/"
        >
          <img src="./assets/img/logo-linkedin.png" />
        </a>
      </div>
      <a routerLink="/impressum" class="imprint-mobile" href="/">Impressum</a>
</div>
