<div id="contact" class="container-contactarea">
    <div class="header-contactarea">
      <div class="blue-line"></div>
      <h2>Contact</h2>
    </div>
  
    <div class="contactarea">
      <div class="textarea">
        <h3>Open to Join your company!</h3>
        <span>
          Feel free to contact me via this form. I will be happy to get in touch
          with you.
        </span>
        <span> <br /><br />Need a Frontend developer? <b>Contact me!</b> </span>
      </div>
  
      <div class="container-form">
        <form id="myForm" (submit)="sendMail()" ngNativeValidate #myForm>
          <input
            id="name"
            type="text"
            name="name"
            placeholder="Your name"
            onfocus="this.placeholder=''"
            #nameField
            required
          />
          <span class="error-message-name">Your name is required</span>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Your email"
            onfocus="this.placeholder=''"
            #emailField
            required
          />
          <span class="error-message-email">Your email is required</span>
          <textarea
            name="message"
            placeholder="Your text"
            onfocus="this.placeholder=''"
            id="text"
            #textField
            required
          ></textarea>
          <span id="text" class="error-message-text">Your message is empty</span>
          <div class="button-container">
            <button #button class="main-button">Send message :)</button>
          </div>
          <span id="successful" class="succesfull-message opacity-0"
            >Your email has been send successfully!</span
          >
        </form>
      </div>
    </div>
    <a href="#hero" style="display: grid">
      <img class="go-up" src="./assets/img/go-up-button.png" />
    </a>
  </div>
