<div id="portfolio" class="container-protfolio">
    <div class="container-first-part">
      <div class="container-header">
        <div class="blue-line-small"></div>
        <h2>Portfolio</h2>
        <div class="blue-line"></div>
      </div>
      <span
        >This page is a sample of my work - please feel free to try them
        out.</span
      >
    </div>
  
    <div class="container-project-right" data-aos="fade-left" data-aos-duration="1000">
      <img src="./assets/img/elpolloloco.png" alt="" />
  
      <div class="project-text-right">
        <h6>El Pollo Loco</h6>
        <p>Javascript | HTML | CSS</p>
        <span>
          A simple Jump-and-Run game based on an object-oriented approach. Help
          sharkie to find coins and poison bottles to fight against the killer
          whale.
        </span>
        <div class="button-area">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://maximilian-leyh.com/EL_POLLO_LOCO/index.html"
            class="button-live"
            >Live test</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/MaximilianLeyh/EL_POLLO_LOCO"
            class="button-git"
            >Github</a
          >
        </div>
      </div>
    </div>
  
    <div class="container-project-left" data-aos="fade-right" data-aos-duration="1000">
      <div class="project-text-left">
        <h6>Ring of fire</h6>
        <p>Angular | Typescript | SCSS | Firebase</p>
        <span>
          A small Game-app inspired by the popular drinking card game, that works
          on multiple devices.
        </span>
        <div class="button-area">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://ring-of-fire-d19cd.web.app/"
            class="button-live"
            >Live test</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/MaximilianLeyh/ringoffire"
            class="button-git"
            >Github</a
          >
        </div>
      </div>
      <img src="./assets/img/ringoffire.png" alt="" />
    </div>
  
    <div class="container-project-right" data-aos="fade-left" data-aos-duration="1000">
      <img src="./assets/img/join.png" alt="" />
  
      <div class="project-text-right">
        <h6>Join</h6>
        <p>Javascript | HTML | CSS</p>
        <span>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </span>
        <div class="button-area">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://maximilian-leyh.com/join/index.html"
            class="button-live"
            >Live test</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/MaximilianLeyh/join"
            class="button-git"
            >Github</a
          >
        </div>
      </div>
    </div>
    <div class="container-project-left" data-aos="fade-right" data-aos-duration="1000">
      
      <div class="project-text-left">
        <h6>Portfolio</h6>
        <p>Angular | HTML | SCCS | TYPESCRIPT</p>
        <span>
          My own portfolio website for job applications.
        </span>
        <div class="button-area">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://maximilian-leyh.com"
            class="button-live"
            >Live test</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/MaximilianLeyh/portfolio"
            class="button-git"
            >Github</a
          >
        </div>
      </div>
     
      <img src="./assets/img/portfolio.png" alt="">
    </div>

    <div class="container-project-right" data-aos="fade-left" data-aos-duration="1000">
      <img src="./assets/img/slack1.png" alt="" />
  
      <div class="project-text-right">
        <h6>Slack-clone</h6>
        <p>Angular | Typescript | SCSS | Firebase | Angular Material</p>
        <span>
          An Angular based messaging app.
        </span>
        <div class="button-area">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://maximilian-leyh.com/slack-clone/"
            class="button-live"
            >Live test</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/MaximilianLeyh/slack-clone"
            class="button-git"
            >Github</a
          >
        </div>
      </div>
    </div>
  
  </div>
  
