<div class="container-impressum">
    <div class="impressum">
      <h1>Impressum</h1>
      <h2>Angaben gemäß § 5 TMG</h2>
      <br />
      Maximilian Leyh<br />
      Kreuzgasse 4<br />
      Breitungen 98597<br />
  
      Vertretungsberechtigte Gesellschafter: Maximilian Leyh<br />
  
      Telefon: +4915758218417<br />
  
      Email: maximilianleyh@gmx.net<br /><br />
      <br>
    "Quelle:"
    <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </div>
  </div>
