.container-impressum{
    color: white;
    background: #141D2F;
    height: calc(100vh - 100px);
    width: 100vw;
    max-width: 1920px;
}
.impressum{
    padding-left: 100px;
    padding-top: 150px;
}

@media(max-width:1050px){
.impressum{
    padding-left: 37px;
}
}